{% extends 'movies/_base.html' %}
{% load static %}

<h1> Who am I?</h1>
{% block content %}
<p> Honestly, I am still figuring it out. But what I know is that I am a little good with computers and someday, I want to master technology just enough to solve the greatest problems that we as humans have to make our lives a little better. And someday, I will. This is when I was, I don't know five maybe...</p>
<img src="{% static 'movies/kid_me.jpeg' %}" width="30%" alt="Me when I was five, maybe... I don't know">
{% endblock content%}